<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<uses-feature
    android:name="android.hardware.camera"
    android:required="false" />
<uses-feature
    android:name="android.hardware.telephony"
    android:required="false" />

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.GET_ACCOUNTS" />
<uses-permission android:name="android.permission.USE_CREDENTIALS" />
<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission
    android:name="android.permission.WRITE_SECURE_SETTINGS"
    tools:ignore="ProtectedPermissions" />
<uses-permission android:name="android.permission.READ_CONTACTS" />
<uses-permission android:name="android.permission.WRITE_CONTACTS" />
<uses-permission android:name="android.permission.READ_SYNC_STATS" />
<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
<uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />
<uses-permission android:name="android.permission.WRITE_SOCIAL_STREAM" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
<uses-permission android:name="com.google.com.android.gms.permission.AD_ID" />
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
<uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission
    android:name="android.permission.READ_PHONE_STATE"
    android:maxSdkVersion="29" />

<queries>
    <intent>
        <action android:name="android.intent.action.MAIN" />
    </intent>
</queries>

<application
    android:name=".WowBoxApplication"
    android:allowBackup="false"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:networkSecurityConfig="@xml/network_security_config"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true"
    tools:replace="android:label,android:allowBackup">
    <activity android:name=".apps.event.ui.AlertGoogleReviewActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent"/>
    <activity android:name=".apps.event.ui.LuckyBallGuideActivity"
        android:exported="false"/>
    <activity android:name=".apps.event.ui.PlayPercentActivity"
        android:exported="false"/>
    <activity android:name=".apps.event.ui.PlayGuideActivity"
        android:exported="false"/>
    <activity android:name=".apps.event.ui.GetLuckyBallGuideActivity"
        android:exported="false"/>
    <activity android:name=".apps.join.InputRecommenderActivity"
        android:exported="false"/>
    <activity android:name=".apps.my.ui.UpdateMobileNumberActivity"
        android:exported="false"/>
    <activity android:name=".apps.verify.ui.SelectVerifyTypeActivity"
        android:exported="false"/>
    <activity android:name=".apps.verify.ui.VerifySmsActivity"
        android:exported="false"/>
    <activity
        android:name=".apps.verify.ui.VerifyWhatsAppActivity"
        android:exported="false" />
    <activity
        android:name=".apps.event.ui.MyWinHistoryActivity"
        android:exported="false" />
    <activity
        android:name=".apps.event.ui.EventWinActivity"
        android:exported="false" />
    <activity
        android:name=".apps.event.ui.EventReplyActivity"
        android:exported="false" />
    <activity
        android:name=".apps.event.ui.EventResultActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.event.ui.EventImpressionActivity"
        android:exported="false" />
    <activity
        android:name=".apps.event.ui.EventWinImpressionActivity"
        android:exported="false" />
    <activity
        android:name=".apps.event.ui.EventAlertActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.event.ui.PlayAlertActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.my.AlertMobileNumberActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

    <activity
        android:name=".apps.withdraw.ui.WithdrawReqCompleteActivity"
        android:exported="false" />
    <activity
        android:name=".apps.withdraw.ui.BankListActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxGuideActivity"
        android:exported="false" />
    <activity
        android:name=".apps.GuideActivity"
        android:exported="false" />
    <activity
        android:name=".apps.point.ui.PointExchangeActivity"
        android:exported="false" />
    <activity
        android:name=".apps.point.ui.AlertPointExchangeActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.luckybox.ui.AlertLuckyBoxPointExchangeCompleteActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.withdraw.ui.AlertWithdrawReturnReasonActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.withdraw.ui.WithdrawListActivity"
        android:exported="false" />
    <activity
        android:name=".apps.withdraw.ui.WithdrawActivity"
        android:exported="false" />
    <activity
        android:name=".apps.withdraw.ui.WithdrawPointActivity"
        android:exported="false" />
    <activity
        android:name=".apps.withdraw.ui.AlertWithdrawActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.cash.ui.CashConfigActivity"
        android:exported="false" />
    <activity
        android:name=".apps.cash.ui.HistoryCashActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxReqShippingActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxPayCompleteActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxReqShippingCompleteActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxProductInfoActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxBuyActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxContainerActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxResultActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxWinHistoryActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxReplyActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxReplyEditActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxPurchaseItemDetailActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckybox.ui.AlertLuckyBoxImpressionActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.luckybox.ui.AlertLuckyBoxExchangeBolActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.product.ui.AlertProductOptionActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.luckybox.ui.LuckyBoxPgActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawByGroupActivity"
        android:exported="false" />
    <activity
        android:name=".apps.buff.ui.BuffGuerrillaMiningActivity"
        android:exported="false" />
    <activity
        android:name=".apps.buff.ui.BuffAirDropActivity"
        android:exported="false" />
    <activity
        android:name=".apps.invite.ui.InviteMiningListActivity"
        android:exported="false" />
    <activity
        android:name=".apps.attendance.ui.AttendanceActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawCheckPrivateActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawDetailActivity"
        android:excludeFromRecents="false" />
    <activity
        android:name=".apps.benefit.ui.BenefitActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawCompleteListActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.MyLuckyDrawHistoryActivity"
        android:exported="false" />
    <activity
        android:name=".apps.wallet.ui.WalletActivity"
        android:exported="false"
        android:hardwareAccelerated="true" />
    <activity
        android:name=".apps.wallet.ui.WalletMakeActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawWinReplyReportActivity"
        android:exported="false" />
    <activity
        android:name=".apps.my.ui.BannerListActivity"
        android:exported="false" />
    <activity
        android:name=".apps.join.JoinCompleteActivity"
        android:exported="false"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawWinReplyEditActivity"
        android:exported="false"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawGuideActivity"
        android:exported="false" />
    <activity
        android:name=".apps.invite.ui.InviteHistoryActivity"
        android:exported="false" />
    <activity
        android:name=".apps.my.ui.NotificationBoxActivity"
        android:exported="false" />
    <activity
        android:name=".apps.my.ui.ProfileImageConfigActivity"
        android:exported="false" />
    <activity
        android:name=".apps.community.ui.CommunityApplyActivity"
        android:exported="false" />
    <activity
        android:name=".apps.common.ui.SearchAddressActivity"
        android:exported="false" />
    <activity
        android:name=".apps.giftcard.ui.GiftCardPurchaseHistoryActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawWinImpressionActivity"
        android:exported="false"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawWinReplyActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawWinActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.MyLuckyDrawPurchaseActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawJoinActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckydraw.ui.LuckyDrawGiftActivity"
        android:exported="false" />
    <activity
        android:name=".apps.my.ui.WithdrawalCompleteActivity"
        android:exported="false" />
    <activity
        android:name=".apps.login.WithdrawalCancelCompleteActivity"
        android:exported="false" />
    <activity
        android:name=".apps.my.ui.WithdrawalAuthActivity"
        android:exported="false" />
    <activity
        android:name=".apps.login.WithdrawalCancelAuthActivity"
        android:exported="false" />
    <activity
        android:name=".apps.my.ui.WithdrawalActivity"
        android:exported="false" />
    <activity
        android:name=".apps.terms.ui.AlarmSettingActivity"
        android:exported="false" />
    <activity
        android:name=".apps.my.ui.VersionActivity"
        android:exported="false" />
    <activity
        android:name=".apps.my.ui.OpensourceLicenceActivity"
        android:exported="false" />
    <activity
        android:name=".apps.my.ui.SettingActivity"
        android:exported="false" />
    <activity
        android:name=".apps.inquire.ui.InquireActivity"
        android:exported="false" />
    <activity
        android:name=".apps.inquire.ui.InquireListActivity"
        android:exported="false" />
    <activity
        android:name=".apps.notice.ui.NoticeDetailActivity"
        android:exported="false" />
    <activity
        android:name=".apps.notice.ui.NoticeActivity"
        android:exported="false" />
    <activity android:name=".apps.terms.ui.TermsListActivity" />
    <activity
        android:name=".apps.faq.ui.FaqActivity"
        android:exported="false" />
    <activity
        android:name=".apps.gallery.ui.OneGalleryActivity"
        android:exported="false" />
    <activity
        android:name=".apps.gallery.ui.GalleryActivity"
        android:exported="false" />
    <activity
        android:name=".apps.gallery.ui.GalleryOnlyActivity"
        android:exported="false" />
    <activity
        android:name=".apps.gallery.ui.ImageEditActivity"
        android:exported="false" />
    <activity
        android:name=".apps.gallery.ui.ImageFilterActivity"
        android:exported="false" />
    <activity
        android:name=".apps.gallery.ui.ImageDeleteActivity"
        android:exported="false" />
    <activity
        android:name=".apps.my.ui.ProfileConfigActivity"
        android:exported="false" />
    <activity
        android:name=".apps.partner.ui.ChildPartnerActivity"
        android:exported="false" />
    <activity
        android:name=".apps.partner.ui.BonusProfitDetailActivity"
        android:exported="false" />
    <activity
        android:name=".apps.partner.ui.ProfitPartnerConfigActivity"
        android:exported="false" />
    <activity
        android:name=".apps.partner.ui.PartnerCommissionConfigActivity"
        android:exported="false" />
    <activity
        android:name=".apps.partner.ui.PartnerReqActivity"
        android:exported="false" />
    <activity
        android:name=".apps.point.ui.HistoryPointActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckyball.ui.HistoryBallActivity"
        android:exported="false" />
    <activity
        android:name=".apps.point.ui.PointConfigActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckyball.ui.BallConfigActivity"
        android:exported="false" />
    <activity
        android:name=".apps.giftcard.ui.GiftCardPurchaseActivity"
        android:exported="false" />
    <activity
        android:name=".apps.giftcard.ui.GiftCardActivity"
        android:exported="false" />
    <activity
        android:name=".apps.giftcard.ui.GiftCardListActivity"
        android:exported="false" />
    <activity
        android:name=".apps.giftcard.ui.GiftCardBrandActivity"
        android:exported="false" />
    <activity
        android:name=".apps.invite.ui.InviteActivity"
        android:exported="false" />
    <activity
        android:name=".apps.lottery.ui.LotteryActivity"
        android:exported="false" />
    <activity
        android:name=".apps.lottery.ui.LotteryGuideActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckyball.ui.LuckyBallExchangeCompleteActivity"
        android:exported="false" />
    <activity
        android:name=".apps.luckyball.ui.LuckyBallExchangeActivity"
        android:exported="false"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    <activity
        android:name=".apps.candy.ui.CandyExchangeActivity"
        android:exported="false"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    <activity
        android:name=".apps.terms.ui.AddTermsAgreeActivity"
        android:exported="false" />
    <activity
        android:name=".apps.terms.ui.TermsActivity"
        android:exported="false" />
    <activity
        android:name=".apps.join.JoinActivity"
        android:exported="false"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    <activity
        android:name=".apps.join.JoinNicknameActivity"
        android:exported="false"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    <activity
        android:name=".apps.main.ui.MainActivity"
        android:exported="false" />
    <activity
        android:name=".apps.LauncherScreenActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="wowbox" />
        </intent-filter>
    </activity>
    <activity
        android:name=".apps.lottery.ui.MyLotteryJoinListActivity"
        android:exported="false" />
    <activity
        android:name=".apps.lottery.ui.LotteryResultActivity"
        android:exported="false" />
    <activity
        android:name=".apps.lottery.ui.MyLotteryWinActivity"
        android:exported="false" />
    <activity
        android:name=".apps.common.ui.AlertActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.common.ui.common.DatePickerActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.common.ui.common.MonthPickerActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.attendance.ui.AlertAttendanceCompleteActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.buff.ui.AlertAdMiningCompleteActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.luckydraw.ui.AlertLuckyDrawJoinActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.luckydraw.ui.AlertLuckyDrawWinRateActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.luckydraw.ui.AlertMyLuckyDrawWinActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.lottery.ui.AlertLottoErrorActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.lottery.ui.LottoJoinResultActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.login.LoginActivity"
        android:exported="false" />
    <activity
        android:name=".apps.login.LoginActivity2"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

    <activity
        android:name=".apps.GrantPermissionActivity"
        android:exported="false" />
    <activity
        android:name=".apps.common.ui.RandomNumberSetActivity"
        android:exported="false"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    <activity
        android:name=".apps.main.ui.AlertMainPopupActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.lottery.ui.AlertLotteryWinActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.giftcard.ui.AlertGiftCardReturnReasonActivity"
        android:exported="false"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.community.ui.AlertCommunityApplyReturnReasonActivity"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.luckyball.ui.AlertLuckyBallLackActivity"
        android:theme="@style/AppTheme.Translucent" />
    <activity
        android:name=".apps.buff.ui.AlertBuffAirDropReturnReasonActivity"
        android:theme="@style/AppTheme.Translucent" />

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="@string/file_provider_authority"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
    </provider> <!-- [START firebase_service] -->
    <service
        android:name=".push.firebase.MessageService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>

    <!-- 구글 -->
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="@string/admob_id" />

    <property
        android:name="android.adservices.AD_SERVICES_CONFIG"
        android:resource="@xml/gma_ad_services_config"
        tools:replace="android:resource" />
</application>

</manifest>
